@import '~styles/mixins';
@import '~styles/media-queries';

html, body {
	height: 100%;
}

.main-layout {
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.font-selection {
  width: 100%;
	display: flex;
  justify-content: space-around;
  align-items: center;

  &__title {
    font-weight: 700;
    font-size: 24px;
  }
  
  &__fonts {
    display: flex;
    justify-content: space-between;

    .active {
      color: orange;
    }
  }

  &__fonts-item {
    font-weight: 700;
    font-size: 18px;
    color: grey;
    padding: rem(6px 12px);
    cursor: pointer;
  }
}

.fonts-content {
  display: flex;
	justify-content: space-around;
	align-items: center;
	width: 80%;
	height: 50%;
	border: 2px solid grey;
	border-radius: 20px;
  text-align: center;

  &__fonts-content__right {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  .cube-common {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .selected-common {
    cursor: pointer;
    .active {
      opacity: 0.5;
    }
  }

  .little-cubes {
    margin-left: 20px;
    font-size: 24px;
    opacity: 0.8;
    font-weight: 800;
    }
  
  &__font-layout-left {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: inset 0px 0px 0px 2px #fff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

  }

  &__selected-font-left {
    margin-left: 20px;
    font-size: 40px;
    color: lightgreen;
    opacity: 0.8;
    font-weight: 800;
  }

  &__selected-font-right {
  width: 100px;
	height: 100px;
	border-radius: 20px;
	margin-right: 20px;
	border: 2px solid black;
	box-shadow: inset 0px 0px 0px 2px #fff;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
  }
}