@import '~styles/mixins';
@import '~styles/media-queries';

.buy-fonts {
  font-size:rem(18px);
  padding: rem(30px);
  color:green;

  @include mq($until: small-desktop) {
    font-size:rem(16px);
  }
}