@import '~styles/mixins';
@import '~styles/media-queries';

html, body {
	height: 100%;
}

.main-layout {
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.font-selection {
  width: 100%;
	display: flex;
  justify-content: space-around;
  align-items: center;
  
  &__title {
    font-weight: 700;
    font-size: rem(24px);
  }
  
  &__fonts {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;

    .active a {
      color: orange;
    }
  }

  &__fonts-item {
    font-weight: 700;
    font-size: rem(18px);
    color: grey;
    padding: rem(6px 12px);
    cursor: pointer;
  }
}

.fonts-content {
  display: flex;
	align-items: center;
	width: 80%;
	height: 50%;
	border: rem(2px solid grey);
	border-radius: rem(20px);
  text-align: center;

  &__right {
    height: 100%;
    margin-top: rem(30px);
  }

  .cube-common {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .selected-common {
    > div:first-child {
      cursor: pointer;
    }
   
    .active {
      opacity: 0.5;
    }
  }

  .little-cubes {
    margin-left: rem(15px);
    font-size: rem(24px);
    opacity: 0.8;
    font-weight: 800;
  }

  &__cube-text {
    color: grey;
    font-weight: bold;
    max-width: rem(250px);
    margin-top: rem(10px);
    text-align: left;
    font-size: rem(18px);
    display: flex;
   
    &::before {
      content: "\2022";
      color: grey;
      font-weight: bold;
      margin-right: rem(10px);
    }
  }
  
  &__font-layout-left {
    width: rem(200px);
    height: rem(200px);
    border-radius: rem(20px);
    border: 2px solid black;
    box-shadow: inset 0px 0px 0px 2px #fff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

  }

  &__selected-font-left {
    margin-left: rem(20px);
    font-size: rem(40px);
    opacity: 0.8;
    font-weight: 800;
  }

  &__font-layout-right { 
    width: rem(100px);
    height: rem(100px);
    border-radius: rem(20px);
    margin-right: rem(20px);
    border: 2px solid black;
    box-shadow: inset rem(0px 0px 0px 2px) #fff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
}

.loading {
  font-size: rem(48px);
  color: orange;
  display: flex;
  align-items: center;
}